.intro {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto
}

.intro__img {
    max-width: 50vh;
}

.intro__paragraph {
    font-size: 20px;
}